<div>
  <h3>Carros</h3>
  <p>Aqui está uma lista dos carros disponíveis. Clique em qualquer item para ver mais informações</p>
</div>
<div class="d-flex align-items-flex-start justify-content-between">
  <div class="col-6" *ngIf="cars; else noContent">
    <table class="table table-striped">
    <thead>
        <tr>
          <th class="text-center" scope="col">Marca</th>
          <th class="text-center" scope="col">Modelo</th>
          <th class="text-center" scope="col">Modificar</th>
        </tr>
      </thead>
      <tbody *ngFor="let car of cars">
        <tr>
          <td class="text-center" (click)="onClick(car)">{{car.brand}}</td>
          <td class="text-center" (click)="onClick(car)">{{car.model}}</td>
          <td class="text-center">
            <div class="btn-group">
              <button class="btn btn-primary" (click)="update(car)">
                <i class="bi bi-pencil-fill"></i>
              </button>
              
              <button class="btn btn-danger" (click)="delete(car.id)">
                <i class="bi bi-trash-fill"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-container [ngTemplateOutlet]="showTemplate">
  </ng-container>
</div>

<ng-template #carInfo>
  <div class="col-5">
    <div class="col-10 pt-2 border border-info rounded" style="background-color: #eeeeee">
      <h4>Sobre o automóvel</h4>
      <dl>
        <dt>Veículo</dt>
        <dl>{{car.brand}} {{car.model}}</dl>
        <dt>Tipo de transmissão</dt>
        <dl>{{car.transmission}}</dl>
        <dt>Cor</dt>
        <dl>{{car.color}}</dl>
        <dt>Ano de fabricação</dt>
        <dl>{{car.year}}</dl>
        <dt>Preço atual</dt>
        <dl>{{car.price | currency: 'BRL': 'symbol': '1.2-2': 'pt'}}</dl>
      </dl>
    </div>
  </div>
</ng-template>
<ng-template #carUpdate>
  <div class="col-5">
    <div class="col-xs">
    <h4>Atualizar dados</h4>
    <p>Atualizando o veículo {{car.brand}} {{car.model}}</p>
    <app-car-register [id]="car.id"></app-car-register>
    </div>
  </div>
</ng-template>

<ng-template #noContent>
  <p>Nenhum veículo disponível!</p> <br/>
  <p>Tente mais tarde</p>
</ng-template>
