<h3>Área de cadastro</h3>
<p>Insira os dados do carro:</p>

<div class="col-6">
  <form [formGroup]="carForm" type="submit">
    <div class="form-group mt-2">
      <label>Marca</label>
      <input class="form-control" type="text" id="brand" name="brand" formControlName="brand" />
    </div>
    <div class="form-group mt-2">
      <label>Modelo</label>
      <input class="form-control" type="text" id="model" name="model" formControlName="model" />
    </div>
    <div class="form-group mt-2">
      <label>Cor</label>
      <input class="form-control" type="text" id="color" name="color" formControlName="color" />
    </div>
    <div class="form-group mt-2">
      <label>Tipo de transmissão</label>
      <select class="form-control" id="transmission" name="transmission" formControlName="transmission">
        <option value="Automático">automatico</option>
        <option value="Manual">manual</option>
      </select>
    </div>
    <div class="form-group mt-2">
      <label>Ano de fabricação</label>
      <input class="form-control" type="text" id="carYear" name="carYear" formControlName="carYear" />
    </div>
    <div class="btn-group">
      <button class="btn btn-primary mt-4" type="submit" [disabled]="carForm.invalid" (click)="onSubmit()">Cadastrar</button>
    </div>
  </form>
</div>

